[submodule "web-ifc"]
	path = web-ifc
	url = https://github.com/CBenghi/web-ifc.git
	branch = playground
[submodule "web-ifc-three"]
	path = web-ifc-three
	url = https://github.com/IFCjs/web-ifc-three.git
[submodule "fuzzy-bools"]
	path = fuzzy-bools
	url = https://github.com/CBenghi/fuzzy-bools.git
	branch = main
